In [11]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/Movie-Recommendation/jupyter_notebooks'

In [12]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [13]:
current_dir = os.getcwd()
current_dir

'/workspace/Movie-Recommendation'

In [14]:
import pandas as pd
df = (pd.read_csv("/workspace/Movie-Recommendation/outputs/datasets/cleaned/MovieList.csv")
    )
df.head(5)

/tmp/ipykernel_3041/1798478721.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = (pd.read_csv("/workspace/Movie-Recommendation/outputs/datasets/cleaned/MovieList.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,clean_title
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,Jumanji
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpier Old Men
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Waiting to Exhale
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Part II

Tfidf Turns the movie titles into numbers to compare unique words to the search. The parameter 1, 2 means it will also look at the words in pairs. So it will compare for example, Grumpier, Old, Men, Grumpier Old & Old Men but as 1, 2, 3, 1 2 & 2 3

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(df["clean_title"])

Compute the similarity between the search we enter and all of the movies in the list using cosign similarity

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as numpy

def clean_title(original_title):
    return re.sub("[^a-zA-Z0-9]", " ", original_title)

# def search()
original_title = "Old Men"
original_title = clean_title(original_title)
query_vec = vectorizer.transform([original_title])
similarity = cosine_similarity(query_vec, tfidf).flatten()

In [25]:
similarity

array([0.        , 0.        , 0.67863667, ..., 0.        , 0.        ,
       0.        ])

In [23]:
query_vec

<1x84242 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>